.cart-img img{
    width: auto;
}

.cart-discribution{
        margin: 5px;
    margin-left: 30px;

}

.cart-main a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

    
}
.cart-main{
    margin: 2px;
    margin-top: 40px;
   

    
    
    
}

.btn{
    padding: 7px;
    width: 350px;
}
