.container{
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Signup{

   
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 6px 2px 8px 8px beige;
    
    

}

.list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    align-items: center;
    
    width: 400px;

}

.input{
    padding: 10px;
    width: 200px;
    gap: 10px;
    border: 1px solid rgb(186, 186, 147) ;
    border-radius: 12px;
   
}


